#layout {
  display: grid;
  grid-template-rows: [header-start] 100px [content-start] 1fr [footer-start] 100px;
  grid-template-columns: [ads] 200px [main] 1fr [links] 200px;
  grid-template-areas: 
  "header header  header"
  "ads    main    links"
  "footer footer  footer";
}

body {
  background-color: bisque;
}

#header {
  grid-area: header;
}

h1, footer {
  text-align: center;
  padding: 15px;
}

#ads {
  grid-area: ads;
}

#main {
  grid-area: main;
}

#links {
  grid-area: links;
}

#footer {
  grid-area: footer;
}
